@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Padauk:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
  }
  
  .group:hover .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color:  #9b9b9b; 
  }
  
  .scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    background-color: #9b9b9b;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Gray */
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #1f2937; /* Dark Gray */
  }